<div class="row">
    <div class="col-md-12">
        <button aria-controls="filtersContainer" aria-expanded="false" class="btn btn-primary" data-target="#filtersContainer" data-toggle="collapse"
            type="button">
            Filter Results
        </button>
        <div class="collapse row" id="filtersContainer" aria-expanded="false">
            <form>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Year">Year</label>
                        <select id="Year" class="form-control">
                            <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Model">Model</label>
                        <select id="Model" class="form-control">
                            <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Year">Year</label>
                        <select id="Year" class="form-control">
                            <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Model">Model</label>
                        <select id="Model" class="form-control">
                            <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Year">Year</label>
                        <select id="Year" class="form-control">
                            <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Model">Model</label>
                        <select id="Model" class="form-control">
                            <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Year">Year</label>
                        <select id="Year" class="form-control">
                            <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Model">Model</label>
                        <select id="Model" class="form-control">
                            <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            {{#each cars}}
            <div class="col-sm-6">
                <div class="car-block">
                    <h3>Some CR-V</h3>
                    <div class="image-mask">
                        <img src="https://d37nk263jfz2p8.cloudfront.net/image/1/700/0/uploads/articles/screen-shot-2015-09-01-at-17.3-55e5d2a827a32.png"
                        />
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>